@import "tailwindcss";

@font-face {
    font-family: 'Outfit';
    src: url('../src/assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../src/assets/fonts/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

:root {
    --font-outfit: 'Outfit', sans-serif;
    --font-urbanist: 'Urbanist', sans-serif;
}